<div class="container mb-5 pt-2">
  <h1 class="pt-5"><%= t('.title') %></h1>
  <div class="row">
    <div class="col-sm-12">
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col"><%= Sentence.human_attribute_name(:id) %></th>
          <th scope="col"><%= Sentence.human_attribute_name(:normal) %></th>
          <th scope="col"><%= Sentence.human_attribute_name(:boin) %></th>
          <th scope="col"><%= Sentence.human_attribute_name(:mode_id) %></th>
        </tr>
        </thead>
        <tbody>
        <%= render @sentences %>
        </tbody>
      </table>
    </div>
    <%= paginate @sentences %>
  </div>
</div>