<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <%= link_to admin_root_path, class: "brand-link" do %>
    <%= image_tag 'AdminLTELogo.png', class: 'brand-image img-circle elevation-3' %>
    <span class="brand-text font-weight-light">BOIトレ管理画面</span>
  <% end %>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item">
          <%= link_to admin_users_path, class: "nav-link" do %>
            <i class="nav-icon far fa-file"></i>
            <p>
              Users
            </p>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to admin_modes_path, class: "nav-link" do %>
            <i class="nav-icon far fa-file"></i>
            <p>
              Modes
            </p>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to admin_sentences_path, class: "nav-link" do %>
            <i class="nav-icon far fa-file"></i>
            <p>
              Sentences
            </p>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to new_admin_user_path, class: "nav-link" do %>
            <i class="nav-icon far fa-file"></i>
            <p>
              ユーザー新規作成
            </p>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to new_admin_mode_path, class: "nav-link" do %>
            <i class="nav-icon far fa-file"></i>
            <p>
              モード新規作成
            </p>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to new_admin_sentence_path, class: "nav-link" do %>
            <i class="nav-icon far fa-file"></i>
            <p>
              文章新規作成
            </p>
          <% end %>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>