<% content_for(:title, 'ログイン') %>
  <div class="login-box">
    <div class="login-logo">
      <h1>ログイン</h1>
    </div>
  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">

      <%= form_with url: admin_user_session_path, local: true do |f| %>
        <%= f.label :email, 'メールアドレス' %>
        <div class="input-group mb-3">
          <%= f.text_field :email, class: 'form-control', placeholder: 'メールアドレス' %>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>

      <%= f.label :password, User.human_attribute_name(:password) %>
        <div class="input-group mb-3">
        <%= f.password_field :password, class: 'form-control', placeholder: :password %>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <%= f.submit (t 'defaults.login'), class: 'btn btn-block btn-primary' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>